{% extends "base_template.html" %}
{% block content %}
    <div class="col-lg-8 align-self-center">
        <div class="card mb-12">
            <div class="card-header">
                  <h6 class="m-0 font-weight-bold ">Create Client</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.firm_id }}
                        </div>
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.challan_no }}
                        </div>
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.file_no }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.fname }}
                        </div>
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.mname }}
                        </div>
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.lname }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 mb-4 mb-sm-0">
                            {{ form.addr }}
                        </div>
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.faliya }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.mob_no }}
                        </div>
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.gtr }}
                        </div>
                        <div class="col-sm-4 mb-4 mb-sm-0">
                            {{ form.gtr_mob_no }}
                        </div>
                    </div>
                    <input class="btn btn-success" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
    {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
{% endblock %}