{% extends "base_template.html" %}
{% block content %}
    <a href="{% url 'loan:create-district' %}" class="btn btn-primary">Create District</a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Taluka List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>District Name</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>District Name</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for district in district_list %}
                        <tr>
                            <td><a href="{% url 'loan:update-district' pk=district.id %}" >{{ district.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}