{% extends 'base_template.html' %}
{% block content %}
    <div class="col-lg-8 align-self-center">
        <div class="card mb-12">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold ">Update EMI</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <th>Name:</th>
                            <td>{{ emi.client_id.fname }} {{ emi.client_id.lname }}</td>
                        </tr>
                        <tr>
                            <th>Loan:</th>
                            <td>{{ emi.loan_id.vehical }}</td>
                        </tr>
                        <tr>
                            <th>EMI Amount:</th>
                            <td>{{ emi.loan_id.emi_amt }}</td>
                        </tr>
                        {{ form.as_table }}
                    </table>
                    <input class="btn btn-success" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}