{% extends "base_template.html" %}
{% block content %}
    <button onclick="showClientTable()" class="btn btn-info">Hide/Show Table</button>
    <table class="table table-bordered" id="client_details" width="100%" cellspacing="0">
        <tr>
            <td>File No</td>
            <th>{{ client.file_no | upper }}</th>
            <td>Challan No</td>
            <th>{{ client.challan_no | upper }}</th>
            <td>Reg No.</td>
            <th>{{ loan_details.reg_no }}</th>
        </tr>
        <tr>
            <td>Name</td>
            <th colspan="3">{{ client.fname | upper }}
                {{ client.mname | upper }}
                {{ client.mname  | upper }}</th>
            <td>AGRMNT DATE</td>
            <th>{{ loan_details.agrmnt_date }}</th>
        </tr>
        <tr>
            <td rowspan="2">ADDRESS</td>
            <th rowspan="2" colspan="3">{{ client.addr | upper }}, {{ client.faliya | upper }}</th>
            <td>MODEL</td>
            <th>{{ loan_details.vehical }}</th>
        </tr>
        <tr>

            <td>CHASIS NO.</td>
            <th>{{ loan_details.chasis_no }}</th>
        </tr>
        <tr>
            <td>MOBILE NO.</td>
            <th colspan="3">{{ client.mob_no | upper }}</th>
            <td>ENGINE NO</td>
            <th>{{ loan_details.engine_no }}</th>
        </tr>
        <tr>
            <td>GTR</td>
            <th colspan="3">{{ client.gtr | upper }}</th>
            <td>INSTALLMENTS</td>
            <th> EMI : {{ loan_details.emi_amt }} | {{ loan_details.months }}</th>
        </tr>
        <tr>
            <td>GTR MOB NO</td>
            <th colspan="3">{{ client.gtr_mob_no | upper }}</th>
            <td>LOAN AMT</td>
            <th>{{ loan_details.principle_amt }}</th>
        </tr>
    </table>
    <div style="float: left">
        <a href="{% url 'loan:create-loan' client_pk=client.pk %}" class="btn btn-info">Add Loan</a>
        {% for loan in client.loan_set.all %}
            <a href="{% url 'loan:loan-detail' client_pk=client.pk pk=loan.pk %}"
               class="btn btn-facebook">
                {{ loan.vehical }}
            </a>
        {% endfor %}
    </div>
    <div style="float:right;">
        <a href="{% url 'loan:create-loan' client_pk=client.pk %}" class="btn btn-info">EMI Details</a>
        <a href="{% url 'loan:create-loan' client_pk=client.pk %}" class="btn btn-info">Print Legder</a>
        {#    <a href="{% url 'loan:create-loan' client_pk=client.pk %}" class="btn btn-info"></a>#}
    </div>

{% endblock %}