{% extends "base_template.html" %}
{% block content %}
    <a href="{% url 'loan:create-taluka' %}" class="btn btn-primary">Create Taluka</a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Taluka List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>District</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>District Name</th>
                        <th>Taluka Name</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for taluka in taluka_list %}
                        <tr>
                            <td>{{ taluka.district_id }}</td>
                            <td>
                                <a href="{% url 'loan:update-taluka' pk=taluka.id %}" >{{ taluka.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}