{% extends "base_template.html" %}
{% block content %}
    <a href="{% url 'loan:create-village' %}" class="btn btn-primary">Create Village</a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Taluka List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>District Name</th>
                        <th>Taluka Name</th>
                        <th>Village Name</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>District Name</th>
                        <th>Taluka Name</th>
                        <th>Village Name</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for village in village_list %}
                        <tr>
                            <td>{{ village.taluka_id.district_id.name }}</td>
                            <td> {{ village.taluka_id.name }}</td>
                            <td> {{ village.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}